@(users: List[User], userForm: Form[User])

@import helper._

@main("Domination Users") {

<h1>@users.size() user(s)</h1>

<ul>
    @for(user <- users) {
    <li>
        @user.name - @user.password

        @form(routes.Application.deleteUser(user.id)) {
        <input type="submit" value="Delete">
        }
    </li>
    }
</ul>

<h2>Add a new user</h2>

@form(routes.Application.newUser()) {

@inputText(userForm("name"))

@inputPassword(userForm("password"))

<input type="submit" value="Create">

}

}